### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
#Total Player Count(TNP) Based "SN"

TNP = len(purchase_data["SN"].value_counts())

#Created Data frame for player count
players = pd.DataFrame({"Total Number of Players": [TNP]})
players

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
UI = len((purchase_data["Item ID"]).unique())
AP = purchase_data["Price"].mean()
AP = "${:.2f}".format(AP)
NOP = purchase_data["Item Name"].count()
TR = purchase_data["Price"].sum()
TR = "${:.2f}".format(TR)

Basic_Calculations_df = pd.DataFrame({"Number of Unique Items":[UI], "Average Price":[AP], 
                                   "Number of Purchases": [NOP], "Total Revenue": [TR]})
Basic_Calculations_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [28]:
Gender_mix = purchase_data.groupby('Gender').nunique()
Gender_mix['Percentage of Players'] = ((Gender_mix['SN']/TNP)*100).map('{:.2f}%'.format)
Gender_mix.index.name = None
Gender_mix.rename(columns={"SN": "Total Count"},inplace=True)
Gender_mix.sort_values('Total Count', ascending=False,inplace=True)
Gender_mix.filter(items=['Total Count', 'Percentage of Players'])

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [93]:
Gender_Analysis = purchase_data.groupby("Gender")
Gender_purchases = Gender_Analysis["Purchase ID"].count()
Average_Purchase_Gender = Gender_Analysis["Price"].mean()
Total_Purchase_Gender = Gender_Analysis["Price"].sum()
Per_Person_Average = Total_Purchase_Gender/Gender_purchases

Purchasing_Analysis = pd.DataFrame({"Purchase Count": [Gender_purchases], "Average Purchase Price": [Average_Purchase_Gender],
                                    "Total Purchase Value":[Total_Purchase_Gender], "Avg Purchase Total per Person": [Per_Person_Average]})
Purchasing_Analysis.index.name = "Gender"
Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
0,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...,Gender Female 3.203009 Male ...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [101]:
Age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
Age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],Age_bins, labels=Age_groups)
purchase_data


age_grouped = purchase_data.groupby("Age Group")
total_count_by_age = age_grouped["Age"].count()
percentage_by_age_group = (age_grouped.count()["Age"]/TNP) * 100


age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})
age_demographics.index.name = None
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [95]:
PC = age_grouped["Purchase ID"].count()
AVP = age_grouped["Price"].mean()
TPV = age_grouped["Price"].sum()
AVPP = TPV/PC

age_demographics = pd.DataFrame({"Purchase Count": PC, "Average Purchase Price": AVP,
                                 "Total Purchase Value":TPV, "Average Purchase Total per Person": AVPP})

age_demographics.index.name = None

age_demographics.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [96]:
TS_stats = purchase_data.groupby("SN")
PC_top = TS_stats["Purchase ID"].count()
AVP_top = TS_stats["Price"].mean()
TP_top = TS_stats["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": PC_top,"Average Purchase Price": AVP_top,"Total Purchase Value":TP_top})

formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}","Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [97]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])
PC_item = item_stats["Price"].count()
PV_item = (item_stats["Price"].sum()) 
item_price = PV_item/PC_item

most_popular_items = pd.DataFrame({"Purchase Count": PC_item, "Item Price": item_price,"Total Purchase Value":PV_item})


popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [98]:
profitable_formatted = most_popular_items.sort_values(["Total Purchase Value"],ascending=False).head()
profitable_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

In [ ]:
#Notes

#Men are far more likely to play heros, then women are. A split of 84% to 14% respectivily was observed.
#People in the 20-24 age group make up 63% of gameplay, but only 47% of total purchase dollars.
#Players in the 35-39 range are ore likely to spend more on the game.